{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Home{% endblock %}

{% block pagestylesheets %}
{% endblock %}

{% block breadcrumb %}
<h1>
    Welcome!
</h1>

<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-home"></i> Home
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary" id="bills-due">
            <div class="overlay text-center" id="due-overlay">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="box-body">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form id="release-commission-form">
        {% csrf_token %}
        <div class="box box-primary" id="commission-list">
            <div class="overlay text-center" id="commission-overlay">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="box-body">
                &nbsp;
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function() {
        getDue(1);
        getCommission(1);
    });

    function getDue(page) {
        $("#due-overlay").show();
        $.ajax({
            type: "GET",
            url: "{% url 'home_due' %}",
            data: {
                "page": page
            },
            success: getDueOK,
            dataType: "html"
        })
    }
    function getDueOK(data, textStatus, jqXHR) {
        $("#bills-due").html(data);
        $("#due-overlay").hide();
    }

    function duePageChange(page) {
        getDue(page);
    }

    function getCommission(page) {
        $("#commission-overlay").show();
        $.ajax({
            type: "GET",
            url: "{% url 'home_commissions' %}",
            data: {
                "page": page
            },
            success: getCommissionOK,
            dataType: "html"
        })
    }
    function getCommissionOK(data, textStatus, jqXHR) {
        $("#commission-list").html(data);
        $("#commission-overlay").hide();
    }

    function overduePageChange(page) {
        getCommission(page);
    }

    $("#release-commission-form").submit( function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'home_commissions' %}",
            data: $(this).serialize(),
            success: getCommissionOK,
            dataType: "html"
        });
    });
</script>
{% endblock %}