{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Clients{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    New Expense
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li>
        <a href="{% url 'expense_list' %}">
            Expenses
        </a>
    </li>
        <li class="active">
        New Expense
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form class="form-horizontal" action="{% url 'expense_create' %}" method="post">
            {% csrf_token %}
            <div class="box-body">
                {% if form.non_field_errors %}
                <div class="form-group has-error">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li class="help-block">
                            <i class="fa fa-times-circle-o"></i>
                            <b>Error</b>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% endif %}

                <div class="form-group">
                    <ul>
                        <li class="help-block">
                            <i class="fa fa-info-circle"></i>
                            <b>Fields with * are required.</b>
                        </li>
                    </ul>
                </div>
                <hr>

                <div class="form-group {% if form.date.errors %} has-error {% endif %}">
                    <label for="{{ form.date.id_for_label }}" class="col-sm-2 control-label">
                        Date *
                    </label>
                    <div class="col-sm-8">
                        {{ form.date }}
                        {% for error in form.date.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.reference_number.errors %} has-error {% endif %}">
                    <label for="{{ form.reference_number.id_for_label }}" class="col-sm-2 control-label">
                        Reference No.
                    </label>
                    <div class="col-sm-8">
                        {{ form.reference_number }}
                        {% for error in form.reference_number.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.payee.errors %} has-error {% endif %}">
                    <label for="{{ form.payee.id_for_label }}" class="col-sm-2 control-label">
                        Payee *
                    </label>
                    <div class="col-sm-8">
                        {{ form.payee }}
                        {% for error in form.payee.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.amount.errors %} has-error {% endif %}">
                    <label for="{{ form.amount.id_for_label }}" class="col-sm-2 control-label">
                        Amount *
                    </label>
                    <div class="col-sm-8">
                        {{ form.amount }}
                        {% for error in form.amount.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.category.errors %} has-error {% endif %}">
                    <label for="{{ form.category.id_for_label }}" class="col-sm-2 control-label">
                        Category *
                    </label>
                    <div class="col-sm-8">
                        {{ form.category }}
                        {% for error in form.category.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.from_petty_cash.errors %} has-error {% endif %}">
                    <label for="{{ form.from_petty_cash.id_for_label }}" class="col-sm-2 control-label">
                        {{ form.from_petty_cash }}&nbsp;&nbsp;From Petty Cash?
                    </label>
                    <div class="col-sm-8">
                        {% for error in form.from_petty_cash.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                    <label for="{{ form.description.id_for_label }}" class="col-sm-2 control-label">
                        Description *
                    </label>
                    <div class="col-sm-8">
                        {{ form.description }}
                        {% for error in form.description.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
    $(document).ready( function() {
        $(".datepicker").datepicker({
            autoclose: true
        });
    });
</script>
{% endblock %}