{% extends "base.html" %}

{% load staticfiles %}
{% block pagetitle %}Clients{% endblock %}

{% block pagestylesheets %}
{% endblock %}

{% block breadcrumb %}
<h1>
    Clients
    <a href="{% url 'client_create' %}">
        <i class="fa fa-plus-circle"></i>
    </a>
</h1>
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li class="active">
        Clients
    </li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <table id="client_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $("#client_table").dataTable({
            "language": {
                "searchPlaceholder": "Search Name, Address"
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [1,2]
                }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'client_json' %}"
        });
    });
</script>
{% endblock %}