{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Contracts{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    New Contract
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li class="active">
        New Contract
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form class="form-horizontal" action="{% url 'contract_create' %}" method="post">
            {% csrf_token %}
            <div class="box-body">
                {% if form.non_field_errors %}
                <div class="form-group has-error">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li class="help-block">
                            <i class="fa fa-times-circle-o"></i>
                            <b>{{ error }}</b>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% endif %}

                <div class="form-group">
                    <ul>
                        <li class="help-block">
                            <i class="fa fa-info-circle"></i>
                            <b>Fields with * are required.</b>
                        </li>
                    </ul>
                </div>
                <hr>

                <div class="form-group {% if form.number.errors %} has-error {% endif %}">
                    <label for="{{ form.number.id_for_label }}" class="col-sm-3 control-label">
                        Contract No. *
                    </label>
                    <div class="col-sm-8">
                        {{ form.number }}
                        {% for error in form.number.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.date.errors %} has-error {% endif %}">
                    <label for="{{ form.date.id_for_label }}" class="col-sm-3 control-label">
                        Date *
                    </label>
                    <div class="col-sm-8">
                        {{ form.date }}
                        {% for error in form.date.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.lot.errors %} has-error {% endif %}">
                    <label for="{{ form.lot.id_for_label }}" class="col-sm-3 control-label">
                        Lot *
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="lot-autocomplete" class="form-control" autocomplete="off">
                        {{ form.lot }}
                        {% for error in form.lot.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.client.errors %} has-error {% endif %}">
                    <label for="{{ form.client.id_for_label }}" class="col-sm-3 control-label">
                        Client Name*
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="client-autocomplete" class="form-control" autocomplete="off">
                        {{ form.client }}
                        {% for error in form.client.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.buyer_type.errors %} has-error {% endif %}">
                    <label for="{{ form.buyer_type.id_for_label }}" class="col-sm-3 control-label">
                        Buyer Type *
                    </label>
                    <div class="col-sm-8">
                        {{ form.buyer_type }}
                        {% for error in form.buyer_type.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.payment_terms.errors %} has-error {% endif %}">
                    <label for="{{ form.payment_terms.id_for_label }}" class="col-sm-3 control-label">
                        Payment Terms *
                    </label>
                    <div class="col-sm-8">
                        {{ form.payment_terms }}
                        {% for error in form.payment_terms.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="form-group {% if form.reservation.errors %} has-error {% endif %}">
                    <label for="{{ form.reservation.id_for_label }}" class="col-sm-3 control-label">
                        Reservation *
                    </label>
                    <div class="col-sm-8">
                        {{ form.reservation }}
                        {% for error in form.reservation.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="form-group {% if form.sales_agent.errors %} has-error {% endif %}">
                    <label for="{{ form.sales_agent.id_for_label }}" class="col-sm-3 control-label">
                        Name of Sales Agent
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="sales_agent-autocomplete" class="form-control" autocomplete="off" placeholder="Input name">
                        {{ form.sales_agent }}
                        {% for error in form.sales_agent.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.unit_manager.errors %} has-error {% endif %}">
                    <label for="{{ form.unit_manager.id_for_label }}" class="col-sm-3 control-label">
                        Name of Unit Manager
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="unit_manager-autocomplete" class="form-control" autocomplete="off">
                        {{ form.unit_manager }}
                        {% for error in form.unit_manager.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.sales_leader.errors %} has-error {% endif %}">
                    <label for="{{ form.sales_leader.id_for_label }}" class="col-sm-3 control-label">
                        Name of Sales Leader
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="sales_leader-autocomplete" class="form-control" autocomplete="off">
                        {{ form.sales_leader }}
                        {% for error in form.sales_leader.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.referent.errors %} has-error {% endif %}">
                    <label for="{{ form.referent.id_for_label }}" class="col-sm-3 control-label">
                        Name of Referent
                    </label>
                    <div class="col-sm-8">
                        <input type="search" id="referent-autocomplete" class="form-control" autocomplete="off">
                        {{ form.referent }}
                        {% for error in form.referent.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if form.sold_by.errors %} has-error {% endif %}">
                    <label for="{{ form.sold_by.id_for_label }}" class="col-sm-3 control-label">
                        Sold By?
                    </label>
                    <div class="col-sm-8">
                        {{ form.sold_by }}
                        {% for error in form.sold_by.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="form-group {% if form.remarks.errors %} has-error {% endif %}">
                    <label for="{{ form.remarks.id_for_label }}" class="col-sm-3 control-label">
                        Remarks
                    </label>
                    <div class="col-sm-8">
                        {{ form.remarks }}
                        {% for error in form.remarks.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Continue</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
    $(document).ready( function() {
        $(".datepicker").datepicker({
            autoclose: true
        });
        $("#lot-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_lot",
            dataSource: "/lookup/lot"
        });
        $("#client-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_client",
            dataSource: "/lookup/client"
        });
        $("#sales_agent-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_sales_agent",
            dataSource: "/lookup/agent?rank=SALES_AGENT"
        });
        $("#unit_manager-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_unit_manager",
            dataSource: "/lookup/agent?rank=UNIT_MNGR"
        });
        $("#sales_leader-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_sales_leader",
            dataSource: "/lookup/agent?rank=SALES_LEADER"
        });
        $("#referent-autocomplete").autocomplete({
            nameProperty: "name",
            valueProperty: "id",
            valueField: "#id_referent",
            dataSource: "/lookup/agent?rank=REFERENT"
        });
    });
</script>
{% endblock %}