{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Contracts{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    Contract No. {{ contract.number }}
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li>
        <a href="{% url 'contract_list' %}">
            Contracts
        </a>
    </li>
    <li class="active">
        Contract No. {{ contract.number }}
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <a href="{% url 'client_update' client_id=contract.client.id %}">
                    <h3 class="profile-username text-center">
                        <b>{{ contract.client.last_name | upper }}, </b>
                        {{ contract.client.first_name }}
                    </h3>
                </a>

                <p class="text-muted text-center">
                    Client
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Contract<br> Price</b>
                        <a class="pull-right">
                            PhP {{ contract.contract_price | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    {% if bill.contract.payment_terms == 'INSTALLMENT' %}
                    <li class="list-group-item">
                        <b>Downpayment<br> Amount</b>
                        <a class="pull-right">
                            PhP {{ contract.downpayment_amount | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Installment<br> Amount</b>
                        <a class="pull-right">
                            PhP {{ contract.installment_amount | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>Total<br> Payment</b>
                        <a class="pull-right">
                            PhP {{ contract.total_payment | floatformat:2 | intcomma}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Contract Info</h3>
            </div>

            <div class="box-body">
                <strong>Contract Date</strong>
                <p class="text-muted">
                    {{ contract.date }}
                </p>
                <hr>

                <strong>Lot</strong>
                <p class="text-muted">
                    {{ contract.lot }} ({{ contract.lot.lot_type }})
                </p>
                <hr>

                <strong>Buyer Type</strong>
                <p class="text-muted">
                    {{ contract.buyer_type }}
                </p>

                {% if contract.client.contact_number %}
                <hr>
                <strong>Remarks</strong>
                <p class="text-muted">
                    {{ contract.remarks }}
                </p>
                {% endif %}
            </div>

            <div class="box-footer">
                <a href="{% url 'contract_update' contract_id=contract.id %}" class="btn btn-primary btn-block">
                    <b>Update Contract</b>
                </a>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Client Info</h3>
            </div>

            <div class="box-body">
                <strong>
                    <i class="fa fa-map-marker margin-r-5"></i> Main Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.main_address }}
                </p>

                {% if contract.client.contact_number %}
                <hr>
                <strong>
                    <i class="fa fa-phone margin-r-5"></i> Contact No.
                </strong>
                <p class="text-muted">
                    {{ contract.client.contact_number }}
                </p>
                {% endif %}

                {% if contract.client.email %}
                <hr>
                <strong>
                    <i class="fa fa-at margin-r-5"></i> Email Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.email }}
                </p>
                {% endif %}
            </div> 
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Commision</h3>
            </div>

            <div class="box-body">
                <b>Commissionable<br> Amount</b>
                <p class="text-muted pull-right">
                    Php {{ contract.commissionable_amount | floatformat:2 | intcomma }}
                </p>

                {% if contract.sales_agent %}
                <hr>
                <a href="{% url 'agent_update' agent_id=contract.sales_agent.id %}">
                    <b>{{ contract.sales_agent.last_name | upper }}, </b>
                    {{ contract.sales_agent.first_name }}
                </a>
                <p class="text-muted">
                    Sales Agent
                    <b class="pull-right">
                        Php {{ commission_dist.sales_agent | floatformat:2 | intcomma }}
                    </b>
                </p>
                {% endif %}

                {% if contract.unit_manager %}
                <hr>
                <a href="{% url 'agent_update' agent_id=contract.unit_manager.id %}">
                    <b>{{ contract.unit_manager.last_name | upper }}, </b>
                    {{ contract.unit_manager.first_name }}
                </a>
                <p class="text-muted">
                    Unit Manager
                    <b class="pull-right">
                        Php {{ commission_dist.unit_manager | floatformat:2 | intcomma }}
                    </b>
                </p>
                {% endif %}

                {% if contract.sales_leader %}
                <hr>
                <a href="{% url 'agent_update' agent_id=contract.sales_leader.id %}">
                    <b>{{ contract.sales_leader.last_name | upper }}, </b>
                    {{ contract.sales_leader.first_name }}
                </a>
                <p class="text-muted">
                    Sales Leader
                    <b class="pull-right">
                        Php {{ commission_dist.sales_leader | floatformat:2 | intcomma }}
                    </b>
                </p>
                {% endif %}

                {% if contract.referral %}
                <hr>
                <a href="{% url 'agent_update' agent_id=contract.referral.id %}">
                    <b>{{ contract.referral.last_name | upper }}, </b>
                    {{ contract.referral.first_name }}
                </a>
                <p class="text-muted">
                    Sales Agent (Referral)
                    <b class="pull-right">
                        Php {{ commission_dist.referral | floatformat:2 | intcomma }}
                    </b>
                </p>
                {% endif %}
            </div> 
        </div>
    </div>

    <div class="col-md-8">
        {% if contract.status == 'FORFEITED' %}
        <div class="info-box bg-red">
            <span class="info-box-icon">
                <i class="fa fa-ban"></i>
            </span>

            <div class="info-box-content">
                <h3 class="info-box-text">
                    Warning
                </h3>
                <span class="info-box-number">
                    THIS CONTRACT IS FORFEITED.
                </span>
            </div>
        </div>
        {% endif %}

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Bills and Payments</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            {% if contract.bills.all %}
            <div class="box-body">
                <div class="small-box {% if contract.is_overdue %} bg-red {% else %} bg-light-blue {% endif %}">
                    <div class="inner">
                        <h3>
                            PhP {{ contract.amount_due | floatformat:2 | intcomma }}
                        </h3>
                        <p>
                            {% if contract.amount_due < 1 %}
                                PAYMENT COMPLETE
                            {% elif contract.due_date %}
                                Due Date: {{ contract.due_date | date:"M d, Y" }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <a href="{% url 'contract_bills' contract_id=contract.id %}" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>

                <table id="bill_table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Due Date</th>
                            <th>Amount Due</th>
                            <th>Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            {% else %}
            <div class="box-footer">
                <a href="{% url 'contract_read' contract_id=contract.id %}?generate=true" class="btn btn-primary btn-lg btn-block pull-right">
                    Generate Bills
                </a>
            </div>
            {% endif %}
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Services</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if contract.services.all %}
                            {% for service in contract.services.all %}
                            <tr>
                                <td>{{ service.get_service_type_display }}</td>
                                <td>{{ service.date | date:"M d, Y" }}</td>
                                <td>{{ service.amount | floatformat:2 }}</th>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td valign="top" colspan="3" class="text-center">
                                    No data available in table
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="box-footer">
                <a href="{% url 'service_create' contract_id=contract.id %}" class="btn btn-primary pull-right">
                    Add Service
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        var due = new Date("{{ contract.due_date}}");
        var now = new Date();
        if (now > due) {
            due = now;
        }

        $('#bill_table').DataTable({
            "order": [[0, "asc"]],
            "processing": true,
            "serverSide": true,
            "searching": false,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [2, 3]
                }
            ],
            "ajax": {
                "url": "{% url 'bill_json' %}",
                "data": function (d) {
                    d.contract_id = "{{ contract.id }}";
                    d.is_overdue = true;
                    d.is_paid = true;
                    d.until = due.getTime()
                }
            }
        });
    });
</script>
{% endblock %}