{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Home{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    Contracts
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li class="active">
        Contract {{ contract.id }}
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">
                    <b>{{ contract.client.last_name | upper }}, </b>
                    {{ contract.client.first_name }}
                </h3>

                <p class="text-muted text-center">
                    Client
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Contract<br> Price</b>
                        <a class="pull-right">
                            Php {{ contract.contract_price | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Installment<br> Amount</b>
                        <a class="pull-right">
                            Php {{ contract.installment_amount | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Total<br> Payment</b>
                        <a class="pull-right">
                            Php {{ contract.total_payment | floatformat:2 | intcomma}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Info</h3>

                <button type="button" class="btn btn-box-tool pull-right">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="box-body">
                <strong>
                    <i class="fa fa-map-marker margin-r-5"></i> Main Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.main_address }}
                </p>

                {% if contract.client.contact_number %}
                <hr>
                <strong>
                    <i class="fa fa-phone margin-r-5"></i> Contact No.
                </strong>
                <p class="text-muted">
                    {{ contract.client.contact_number }}
                </p>
                {% endif %}

                {% if contract.client.email %}
                <hr>
                <strong>
                    <i class="fa fa-at margin-r-5"></i> Email Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.email }}
                </p>
                {% endif %}
            </div> 
       </div>

        <div class="box box-primary">
            <div class="box-body box-profile">
                <p class="text-center">
                    <b>{{ contract.agent.last_name | upper }}, </b>
                    {{ contract.agent.first_name }}
                </p>

                <p class="text-muted text-center">
                    Sales Agent
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Commissionable<br> Amount</b>
                        <a class="pull-right">
                            Php {{ contract.total_commissionable_amount | floatformat:2 | intcomma }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Details</a></li>
                <li class="active"><a href="#downpayments" data-toggle="tab">Downpayments</a></li>
                <li><a href="#commissions" data-toggle="tab">Commissions</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="details">
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-calendar"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Contract Date</span>
                                <span class="info-box-number">{{ contract.date }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-file"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Lot</span>
                                <span class="info-box-number">{{ contract.lot }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-clone"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Buyer Type</span>
                                <span class="info-box-number">{{ contract.buyer_type }}</span>
                            </div>
                        </div>
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputLotPrice" class="col-sm-2 control-label">
                                Lot Price
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputLotPrice"
                                       value="{{ contract.lot_price }}"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCareFund" class="col-sm-2 control-label">
                                Care Fund
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputCareFund"
                                       value="{{ contract.care_fund }}"
                                       disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputDiscSpotCash" class="col-sm-2 control-label">
                                Spot Cash
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputDiscSpotCash"
                                       value="{{ contract.discount_spot_cash }}"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDiscSpotDP" class="col-sm-2 control-label">
                                Spot Downpayment
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputDiscSpotDP"
                                       value="{{ contract.discount_spot_dp }}"
                                       disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputInstallment" class="col-sm-2 control-label">
                                Installment
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                         class="form-control"
                                           id="inputInstallment"
                                         value="{{ contract.interest_on_installment }}"
                                     disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputCertOwner" class="col-sm-2 control-label">
                                Certificate of Ownership
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                             class="form-control"
                                           id="inputCertOwner"
                                         value="{{ contract.certificate_of_ownership }}"
                                     disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputChangeTitle" class="col-sm-2 control-label">
                                Change of Title
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputChangeTitle"
                                       value="{{ contract.change_of_title }}"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputInterment" class="col-sm-2 control-label">
                                Interment
                            </label>
                            <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control"
                                           id="inputInterment"
                                           value="{{ contract.interment }}"
                                           disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputResvLOI" class="col-sm-2 control-label">
                                Reservation LOI
                            </label>
                            <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control"
                                           id="inputResvLOI"
                                           value="{{ contract.reservation_loi }}"
                                           disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputRemarks" class="col-sm-2 control-label">
                                Remarks
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control"
                                          id="inputRemarks"
                                          disabled>{{ contract.remarks }}
                                </textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="active tab-pane" id="downpayments">
                    <b>Summary</b>
                    <a href="#" class="pull-right">
                        <i class="fa fa-plus"></i>
                        Add Downpayment
                    </a>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="bg-blue">
                                    Installment<br>
                                    Amount
                                </th>
                                <th class="bg-blue">
                                    Downpayment<br>
                                    Amount
                                </th>
                                <th class="bg-blue">
                                    Installment<br>
                                    Downpayment<br>
                                    Balance
                                </th>
                                <th class="bg-blue">
                                    Installment<br>
                                    Balance
                                </th>
                                <th class="bg-blue">
                                    Unpaid<br>
                                    Balance
                                </th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Php {{ contract.installment_amount  | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.downpayment_amount  | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.installment_downpayment_balance  | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.installment_balance  | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.unpaid_balance  | floatformat:2 | intcomma}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="timeline timeline-inverse">
                        {% if downpayments %}
                            {% for downpayment in downpayments %}
                            <li class="time-label">
                                <span class="bg-blue">
                                    {{ downpayment.date }}
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-money bg-primary"></i>
                                <div class="timeline-item">
                                    <h3 class="timeline-header no-border">
                                        Php {{ downpayment.amount  | floatformat:2 | intcomma}}
                                    </h3>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                        <li class="time-label">
                            <span class="bg-blue">
                                {% now "DATE_FORMAT" %}
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-money bg-primary"></i>
                            <div class="timeline-item">
                                <h3 class="timeline-header no-border">
                                    No downpayments paid yet
                                </h3>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="tab-pane" id="commissions">
                    <b>Summary</b>
                    <a href="#" class="pull-right">
                        <i class="fa fa-plus"></i>
                        Add Commission
                    </a>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="bg-blue">
                                    Total<br>
                                    Commissionable<br>
                                    Amount
                                </th>
                                <th class="bg-blue">
                                    Total<br>
                                    Commission<br>
                                    Paid
                                </th>
                                <th class="bg-blue">
                                    Commission<br>
                                    Balance
                                </th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Php {{ contract.total_commissionable_amount | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.total_commission_paid | floatformat:2 | intcomma}}
                                </td>
                                <td class="text-center">
                                    Php {{ contract.commission_balance | floatformat:2 | intcomma}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="timeline timeline-inverse">
                        {% if commissions %}
                            {% for commission in commissions %}
                            <li class="time-label">
                                <span class="bg-blue">
                                    {{ commission.date }}
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-money bg-primary"></i>
                                <div class="timeline-item">
                                    <h3 class="timeline-header no-border">
                                        Php {{ commission.amount  | floatformat:2 | intcomma}}
                                    </h3>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                        <li class="time-label">
                            <span class="bg-blue">
                                {% now "DATE_FORMAT" %}
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-money bg-primary"></i>
                            <div class="timeline-item">
                                <h3 class="timeline-header no-border">
                                    No commissions paid yet
                                </h3>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}{% endblock %}