{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Home{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    Contracts
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li class="active">
        Contract {{ contract.id }}
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">
                    <b>{{ contract.client.last_name | upper }}, </b>
                    {{ contract.client.first_name }}
                </h3>

                <p class="text-muted text-center">
                    Client
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Contract<br> Price</b>
                        <a class="pull-right">
                            Php {{ contract.contract_price | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Installment<br> Amount</b>
                        <a class="pull-right">
                            Php {{ contract.installment_amount | floatformat:2 | intcomma}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Total<br> Payment</b>
                        <a class="pull-right">
                            Php {{ contract.total_payment | floatformat:2 | intcomma}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Info</h3>

                <button type="button" class="btn btn-box-tool pull-right">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="box-body">
                <strong>
                    <i class="fa fa-map-marker margin-r-5"></i> Main Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.main_address }}
                </p>

                {% if contract.client.contact_number %}
                <hr>
                <strong>
                    <i class="fa fa-phone margin-r-5"></i> Contact No.
                </strong>
                <p class="text-muted">
                    {{ contract.client.contact_number }}
                </p>
                {% endif %}

                {% if contract.client.email %}
                <hr>
                <strong>
                    <i class="fa fa-at margin-r-5"></i> Email Address
                </strong>
                <p class="text-muted">
                    {{ contract.client.email }}
                </p>
                {% endif %}
            </div> 
       </div>

        <div class="box box-primary">
            <div class="box-body box-profile">
                <p class="text-center">
                    <b>{{ contract.agent.last_name | upper }}, </b>
                    {{ contract.agent.first_name }}
                </p>

                <p class="text-muted text-center">
                    Sales Agent
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Commissionable<br> Amount</b>
                        <a class="pull-right">
                            Php {{ contract.total_commissionable_amount | floatformat:2 | intcomma}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#downpayments" data-toggle="tab">Downpayments</a></li>
                <li><a href="#commissions" data-toggle="tab">Commissions</a></li>
            </ul>

            <div class="tab-content">
                <div class="active tab-pane" id="details">
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-calendar"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Contract Date</span>
                                <span class="info-box-number">{{ contract.date }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-file"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Lot</span>
                                <span class="info-box-number">{{ contract.lot }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-clone"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Buyer Type</span>
                                <span class="info-box-number">{{ contract.buyer_type }}</span>
                            </div>
                        </div>
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputLotPrice" class="col-sm-2 control-label">
                                Lot Price
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputLotPrice"
                                       value="{{ contract.lot_price }}"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCareFund" class="col-sm-2 control-label">
                                Care Fund
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputCareFund"
                                       value="{{ contract.care_fund }}"
                                       disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputDiscSpotCash" class="col-sm-2 control-label">
                                Spot Cash
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputDiscSpotCash"
                                       value="{{ contract.discount_spot_cash }}"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDiscSpotDP" class="col-sm-2 control-label">
                                Spot Downpayment
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputDiscSpotDP"
                                       value="{{ contract.discount_spot_dp }}"
                                       disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputInstallment" class="col-sm-2 control-label">
                                Installment
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                         class="form-control"
                                           id="inputInstallment"
                                         value="{{ contract.interest_on_installment }}"
                                     disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputCertOwner" class="col-sm-2 control-label">
                                Certificate of Ownership
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                             class="form-control"
                                           id="inputCertOwner"
                                         value="{{ contract.certificate_of_ownership }}"
                                     disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputChangeTitle" class="col-sm-2 control-label">
                                Change of Title
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                         class="form-control"
                                           id="inputChangeTitle"
                                         value="{{ contract.change_of_title }}"
                                     di    sabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputInterment" class="col-sm-2 control-label">
                                Interment
                            </label>
                            <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control"
                                           id="inputInterment"
                                           value="{{ contract.interment }}"
                                           disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputResvLOI" class="col-sm-2 control-label">
                                Reservation LOI
                            </label>
                            <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control"
                                           id="inputResvLOI"
                                           value="{{ contract.reservation_loi }}"
                                           disabled>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="inputRemarks" class="col-sm-2 control-label">
                                Remarks
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control"
                                          id="inputExperience"
                                          placeholder="Experience">
                                {{ contract.remarks }}
                                </textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="downpayments">
                    <h3>Downpayment</h3>
                </div>

                <div class="tab-pane" id="commissions">
                    <h3>commissions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}{% endblock %}