{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Downpayments{% endblock %}

{% block pagestylesheets %}{% endblock %}

{% block breadcrumb %}
<h1>
    Add Downpayment
</h1>

<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li>
        <a href="{% url 'contract_read' contract_id=contract.id %}">
            Contract {{ contract.id }}
        </a>
    </li>
    <li class="active">
        Add Downpayment
    </li>
</ol>
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form class="form-horizontal" action="{% url 'downpayment_create' contract_id=contract.id %}" method="post">
            {% csrf_token %}
            <div class="box-header with-border">
                <b>Contact {{ contract.id }}</b>
            </div>
            <div class="box-body">
                {% if form.non_field_errors %}
                <div class="form-group has-error">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li class="help-block">
                            <i class="fa fa-times-circle-o"></i>
                            <b>Error</b>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% endif %}

                <div class="form-group">
                    <ul>
                        <li class="help-block">
                            <i class="fa fa-info-circle"></i>
                            <b>Fields with * are required.</b>
                        </li>
                    </ul>
                </div>
                <hr>

                <div class="form-group {% if form.date.errors %} has-error {% endif %}">
                    <label for="{{ form.date.id_for_label }}" class="col-sm-2 control-label">
                        Date *
                    </label>
                    <div class="col-sm-8">
                        {{ form.date }}
                        {% for error in form.date.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.amount.errors %} has-error {% endif %}">
                    <label for="{{ form.amount.id_for_label }}" class="col-sm-2 control-label">
                        Amount *
                    </label>
                    <div class="col-sm-8">
                        {{ form.amount }}
                        {% for error in form.amount.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.remarks.errors %} has-error {% endif %}">
                    <label for="{{ form.remarks.id_for_label }}" class="col-sm-2 control-label">
                        Remarks
                    </label>
                    <div class="col-sm-8">
                        {{ form.remarks }}
                        {% for error in form.remarks.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
    $(document).ready( function() {
        $(".datepicker").datepicker({
            autoclose: true
        });
    });
</script>
{% endblock %}