{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block pagetitle %}Home{% endblock %}

{% block pagestylesheets %}
{% endblock %}

{% block breadcrumb %}
<!-- <div class="input-group input-group-sm col-md-6">
    <input type="text" id="search-input" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
 -->
<h1>
    Welcome!
</h1>

<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-home"></i> Home
    </li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Due within 5 Days</h3>
            </div>

            <div class="box-body">
                {% if bills %}
                <ul class="products-list product-list-in-box">
                    {% for bill in bills %}
                    <li class="item">
                        <div class="product-item">
                            <a href="{% url 'bill_read' bill_id=bill.id %}" class="product-title">
                                {{ bill.due_date }}
                                <span class="label label-warning pull-right">Php {{ bill.total_amount_due | floatformat:2 | intcomma}}</span>
                            </a>
                            <span class="product-description">
                                {{ bill.contract.client.last_name | upper }}, {{ bill.contract.client.first_name }}
                                &bull;
                                {{ bill.contract.client.contact_number }}
                                {% if bill.status == 'PAID' %}
                                &bull;
                                <b class="text-green">
                                    Paid
                                </b>
                                {% endif %}
                            </span>
                        </div>
                        <!-- General tools such as edit or delete-->
                        <!-- <div class="tools">
                            <a href="{% url 'bill_read' bill_id=bill.id %}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div> -->
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h3 class="text-muted text-center">
                    <i class="ion ion-android-sad"></i> No results found
                </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function() {
        getData("", 1);
    });

    function getData(query, page) {
        $(".overlay").show();
        $.ajax({
            type: "GET",
            url: "{% url 'contract_list' %}",
            data: {
                "query": query,
                "page": page
            },
            success: getDataOK,
            dataType: "html"
        })
    }
    function getDataOK(data, textStatus, jqXHR) {
        $("#search-results").html(data);
        $(".overlay").hide();
    }

    function pageChange(page) {
        console.log(page);
        var query = $("#search-input").val();
        getData(query, page);
    }

    // action listeners
    $("#search-input").keyup(function() {
        getData($(this).val(), 1);
    });
</script>
{% endblock %}